@model EXSM3944_Demo.Models.DTO.PersonJob

@{
    ViewData["Title"] = "Create With Job";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateWithJob">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonFirstName" class="control-label"></label>
                <input asp-for="PersonFirstName" class="form-control" />
                <span asp-validation-for="PersonFirstName" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonLastName" class="control-label"></label>
                <input asp-for="PersonLastName" class="form-control" />
                <span asp-validation-for="PersonLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonJobID" class="control-label"></label>
                <select asp-for="PersonJobID" class="form-control" asp-items="ViewBag.JobID"></select>
            </div>
            <div class="form-group">
                <label asp-for="JobName" class="control-label"></label>
                <input asp-for="JobName" class="form-control" />
                <span asp-validation-for="JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDescription" class="control-label"></label>
                <input asp-for="JobDescription" class="form-control" />
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
