@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@{
    if(ViewData["ID"] == null)
    {
        <p>You did not enter an ID.</p>
    }
    else
    {
        <p>You entered the ID @ViewData["ID"].</p>
    }
}
